@media screen {
body {
    font-family: Verdana, sans-serif;
}

body > section {
    max-width: 56em;
    margin: auto;
	margin-bottom: 6em;
}

.seealso {
    font-size: .8em;
	margin: .1em 0;
}

.codeblock_name {
    display: inline-block;
    background-color: #d8cad8;
    padding: .25em .75em;
    font-size: .8em;
    border-radius: 4px 4px 0 0;
}

pre {
	margin: 0 auto;
    overflow: auto;
}

pre > * {
    font-size: .9rem;
}

h1, h2 {
    font-family: Georgia, serif;
}

a[href] {
    color: #25f;
}

code {
    font-size:1rem;
    background-color: #e6e6e6;
    padding: 0 .25em;
}

.codeblock {
	margin: .5em 1.5em;
}

aside {
	opacity: .5;
	margin-left: 2em;
}

.section {
	padding: 2em 0;
	border-bottom: 1px solid #ccc;
}

.section:first-of-type {
	padding-top: .5em;
}

.pixelated {
	width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

figure {
	max-width: 50%;
	margin: auto;
}

figure * {
	margin: auto;
	max-width: 100%;
}

figcaption {
	font-size: .8em;
	margin-top: 1em;
	text-align: center;
}
}

@media print {
body {
	columns: 2;
}
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff;
    }
    
    a[href] {
        color: #fc4;
    }
    
    .codeblock {
        filter: invert(1);
        color: #000;
    }
    
    .codeblock a {
        color: #000;
        opacity: .6;
    }
	
	code {
    	background-color: #333;
	}
	
	.section {
		padding: 2em 0;
		border-bottom: 1px solid #444;
	}
}
