@font-face {
	font-family: elstob;
	font-display: swap;
	src:
		local("elstob"),
		url("Elstob.woff2") format("woff2"),
		url("Elstob.ttf") format("truetype");
}

@font-face {
	font-family: elstob;
	font-style: oblique;
	font-display: swap;
	src:
		local("elstob"),
		url("Elstob-Italic.woff2") format("woff2"),
		url("Elstob-Italic.ttf") format("truetype");
}

@font-face {
	font-family: courprime;
	font-display: swap;
	src:
		local("Courier Prime Code"),
		url("Courier-Prime-Code.ttf") format("truetype");
}

body {
	background-color: #fff;
	color: #111;
	font-family: elstob, serif;
	font-size: 1.15em;
	font-variation-settings: "opsz" 10, "GRAD" 0, "SPAC" 1, "slnt" 0, "onum" 1, "zero" 1, "tnum" 1, "ss18" 1;
	font-weight: 500;
	line-height:1.5em;
	max-width: 40em;
	margin: 3em auto;
	padding: 0 1em;
	font-variant-numeric: oldstyle-nums slashed-zero;
}

p {
	margin: .5em 0;
}

h2 {
	font-style: oblique;
	font-variant-caps: small-caps;
	letter-spacing: .075em;
	font-size: 1.25em;
	font-variation-settings: "opsz" 16;
	font-weight: 500;
}

h3 {
	font-variation-settings: "opsz" 14;
}

h1 {
	text-align: center;
	font-variation-settings: "opsz" 24;
	font-variant-caps: small-caps;
	font-weight: 500;
	font-size: 1.5em;
	letter-spacing: .075em;
}

p {
	hyphens: auto;
	text-align: justify;
}

a {
	color: #600;
}

figure {
	text-align: center;
}

figure img {
	max-width: 100%;
	max-width: min(100%, 28em);
}

code, pre {
	font-size: .9em;
	line-height: 1.25em;
	font-family: courprime, monospace;
}

pre {
	background-color: #eee;
	padding: 1em 1.5em;
	overflow: auto;
}

.prettyprint {
	margin: 0;
}

.code-block {
	margin-bottom: 1em;
}

.block-header {
	background-color: #eee;
	padding: .3em 1em;
}

.block-header a:target{
	color: #000;
	background-color: #ff0;
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}
	a {
		color: #ffa;
	}

	.block-header, pre {
		background-color: #333;
	}
}

